
.section-2-wrapper {
    display: flex;
    background: #00A4B8;
    width: calc(100% - 200px);
    height: 100%;
    color: #FAFAFA;
    padding: 0 100px;
    flex-flow: row wrap;
    &__shape {
        padding-top: 100px;
        width: 35%;
    }

    &__content {
        padding-top: 100px;
        width: 65%;
        .content {
            &__subtitle {
                font-size: 18px;
            }
            
            &__title {
                font-size: 73px;
                margin-top: 50px;
                width: 600px;
            }

            &__description {
                margin-top: 50px;
                font-size: 16px;
                border-left: 0.5px solid #fafafa52;
                padding: 10px 20px;
                padding-bottom: 100px;
                width: 600px;
                .link {
                    margin-top: 50px;
                    margin-left: 10px;
                    font-size: 18px;
                    font-weight: bold;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    .fas {
                        font-size: 13px;
                        //margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    /*For mobile phone*/
    .section-2-wrapper {
        width: calc(100% - 40px);
        padding: 0 20px;
        &__shape {        
            padding-top: 20px;
            width: 100%;
            height: 400px;
        }

        &__content {
            padding-top: 20px;
            width: 100%;

            .content {
                &__subtitle {
                    font-size: 18px;
                }

                &__title {
                    font-size: 42px;
                    margin-top: 50px;
                    width: auto;
                }

                &__description {
                    padding-bottom: 50px;
                    width: auto;
                    .link {
                        margin-left: 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}